---
import { Image } from 'astro:assets';
import { getFormattedDate } from '../../i18n/formatDateTime';
import IconArrowRight from '../icons/IconArrowRight.astro';
import IconArrowRightUp from '../icons/IconArrowRightUp.astro';
import IconCalendar from '../icons/IconCalendar.astro';

interface Props {
  featuredImage: string | undefined,
  altText: string | undefined,
  title: string,
  dateGmt: string,
  excerpt: string,
  href: string,
};

const { featuredImage = '/opengraph.jpg', altText = '', title, dateGmt, excerpt, href }: Partial<Props> = Astro.props;

const formattedDate = await getFormattedDate(dateGmt);
---

<li
  class="h-full flex flex-col-reverse hover:shadow-md dark:shadow-gray-900 brightness-90 hover:brightness-100 focus:brightness-100"
  tabindex="0"
  aria-label={title}
  :class="{'cursor-pointer': !preventClick}"
  x-data="{ hovered: false, clickTimeout: null, preventClick: false }"
  @mouseenter="hovered = true"
  @mouseleave="hovered = false; clearTimeout(clickTimeout); preventClick = false"
  @mousedown="event.preventClick = false; event.button === 2 ? preventClick = true : clickTimeout = setTimeout(() => preventClick = true, 200);"
  @mouseup=" clearTimeout(clickTimeout); if (!preventClick) { window.location = $refs.link.href; } preventClick = false;"
  @keydown.enter="window.location = $refs.link.href"
>
  <article class="flex flex-col flex-grow gap-2 p-4 mb-auto">

    <h3 class="font-medium text-xl text-gray-700 dark:text-gray-200">
      <a href={href} tab-index="-1" x-ref="link">
        {title}
      </a>
    </h3>

    <span class="inline-flex gap-2" aria-hidden="false">
      <IconCalendar height={16} width={16} />
      <span class="sr-only">Post published on: </span>
      <time datetime={dateGmt}>{formattedDate}</time>
    </span>

    <p class="text-gray-700 dark:text-gray-200">
      {excerpt}
    </p>
    
    <div class="flex gap-2 mt-auto font-medium text-gray-700 hover:text-black dark:text-gray-200 dark:hover:text-white">
      <span class="box-border border-transparent border-b-2 hover:border-black dark:border-white" aria-hidden="true">
        Read more
      </span>

      <template x-if="hovered">
        <IconArrowRightUp height={21} width={21} classes="self-center" />
      </template>
      <template x-if="!hovered">
        <IconArrowRight height={21} width={21} classes="self-center" />
      </template>
    </div>
  </article>

  <Image
      src={featuredImage}
      width={800}
      height={600}
      format="webp"
      class="h-full sm:min-h-48 sm:max-h-48 md:min-h-72 md:max-h-72 min-w-full object-cover shadow-md dark:shadow-gray-900"
      alt={altText}
  />
</li>
