---
import { Image, Picture } from 'astro:assets';
import { getFormattedDate } from '../../i18n/formatDateTime';
import IconArrowRight from '../icons/IconArrowRight.astro';
import IconCalendar from '../icons/IconCalendar.astro';

interface Props {
  featuredImage: string | undefined,
  altText: string | undefined,
  title: string,
  dateGmt: string,
  excerpt: string,
  href: string,
};

const { featuredImage, altText = '', title, dateGmt, excerpt, href }: Partial<Props> = Astro.props;

const formattedDate = getFormattedDate(dateGmt);
---

<li
  class="group/card h-full flex flex-col-reverse hover:shadow-md dark:shadow-black brightness-90 hover:brightness-100 focus:brightness-100 transition duration-300"
  tabindex="0"
  aria-label={title}
  :class="{'cursor-pointer': !preventClick}"
  x-data="{ clickTimeout: null, preventClick: false }"
  @mouseleave="clearTimeout(clickTimeout); preventClick = false"
  @mousedown="event.preventClick = false; event.button === 2 ? preventClick = true : clickTimeout = setTimeout(() => preventClick = true, 200);"
  @mouseup=" clearTimeout(clickTimeout); if (!preventClick) { window.location = $refs.link.href; } preventClick = false;"
  @keydown.enter="window.location = $refs.link.href"
>
  <article class="flex flex-col flex-grow gap-2 p-4 mb-auto">

    <h3 class="font-medium text-xl text-theme-800 hover:text-theme-900 dark:text-theme-200 dark:hover:text-theme-100 underline underline-offset-8 decoration-transparent hover:decoration-theme-900 dark:hover:decoration-theme-100 transition duration-300">
      <a href={href} tab-index="-1" x-ref="link">
        {title}
      </a>
    </h3>

    <span class="inline-flex gap-2" aria-hidden="false">
      <IconCalendar height={16} width={16} />
      <span class="sr-only">Post published on: </span>
      <time class="text-theme-800 dark:text-theme-200" datetime={dateGmt}>{formattedDate}</time>
    </span>

    <p class="text-theme-800 dark:text-theme-200">
      {excerpt}
    </p>
    
    <div class="flex gap-2 items-center p-2 mt-auto mr-auto text-theme-800 hover:text-theme-900 dark:text-theme-200 dark:hover:text-theme-100 border-transparent border-b-2 hover:border-theme-900 dark:hover:border-theme-100 transition duration-300">
      <span class="font-medium" aria-hidden="true">
        Read more
      </span>
      <IconArrowRight height={21} width={21} classes="group-hover/card:-rotate-45 transition duration-300" />
    </div>
  </article>

  { !featuredImage ?
    (
      <Image
          src="/opengraph.webp"
          height={480}
          width={320}
          format="webp"
          class="h-full md:min-h-[216px] md:max-h-[216px] lg:max-h-56 min-w-full object-cover aspect-[4/3]"
          alt={altText}
      />
    ) : (
      <Picture
          src={featuredImage}
          widths={[480]}
          sizes={`480px`}
          inferSize
          formats={['webp']}
          class="h-full md:min-h-[216px] md:max-h-[216px] lg:max-h-56 min-w-full object-cover aspect-[4/3]"
          alt={altText}
      />
    )
  }
</li>
