---
import Layout from '../layouts/Layout.astro';
import RecentPosts from '../components/RecentPosts.astro';
import { getAllUris, getNodeByURI } from '../utils/gqlRoutes.ts';
import type { NodeByUri } from '../types.ts';

const uri = `/${Astro.params.uri}/`;
const data = await getNodeByURI(uri);
const node: NodeByUri = data.nodeByUri;

export async function getStaticPaths() {
  return await getAllUris();
};
---

<Layout title={node.seo?.title || node.title} metaDesc={node.seo?.metaDesc}>

  {node.__typename === 'Page' && (
    <div class="flex flex-col" set:html={node.content}>
      <!-- set:html content -->
    </div>
  )}

  {node.__typename === 'Post' && (
    <div class="flex gap-4">
      <article class="flex-grow max-w-none" set:html={node.content}>
        <h1>{node.title}</h1>
        <!-- set:html content -->
      </article>
      <aside class="flex-shrink-0 w-72">
        <RecentPosts orientation='column' quantity={3} filteredBy='recent'/>
      </aside>
    </div>
  )}

  {node.__typename !== 'Page' && node.__typename !== 'Post' && (
    <div class="flex flex-col">
      <h1>There was an error.</h1>
    </div>
  )}

</Layout>
