---
import { Image } from 'astro:assets';
import { getSiteLogo } from '../../utils/gqlYoastSeo.ts';

const logo = await getSiteLogo();
const sourceUrl = logo.sourceUrl;
const altText = logo.altText;
const height = logo.mediaDetails.height;
const width = logo.mediaDetails.width;
---

<div class="absolute left-2 top-2 mb-2 md:mb-4 md:left-auto md:top-auto md:relative max-w-16 sm:max-w-24">
  <a href={Astro.site} aria-label="to homepage">
    <Image class="aspect-square object-cover" src={sourceUrl} alt={altText} height={height} width={width} />
  </a>
</div>