---
import IconTags from '../icons/IconTags.astro';
import IconSearch from '../icons/IconSearch.astro';
import IconBrandGithub from '../icons/IconBrandGithub.astro';
import IconRss from '../icons/IconRss.astro';
import IconMoon from '../icons/IconMoon.astro';
import IconSun from '../icons/IconSun.astro';
import IconMenu2 from '../icons/IconMenu2.astro'
import IconX from '../icons/IconX.astro'

const iconHeight = 64;
const iconWidth = 64;
const listClasses = 'text-theme-800 hover:text-theme-900 dark:text-theme-200 dark:hover:text-theme-100 transition duration-300';
const iconClasses = 'max-h-8 sm:max-h-10 md:max-h-8';
---
<ul class="flex gap-4 justify-end items-center px-5 my-auto md:my-0 pb-2 md:pb-0 leading-none" role="toolbar" aria-label="toolbar">

  <li class=`${listClasses} md:border-r-2 border-theme-300 dark:border-theme-700`>
    <button
      class="inline-flex gap-1 md:pr-4"
      aria-label="open tags archive page"
      x-on:click="window.open('/blog/tag/', '_self')"
    >
      <IconTags height={iconHeight} width={iconWidth} classes={iconClasses}/>
      <span class="hidden md:inline-block md:self-center md:font-semibold" aria-hidden="true">Tags</span>
    </button>
  </li>

  <li class=`${listClasses}`>
    <button
      class="m-auto"
      aria-label="open search"
    >
      <IconSearch height={iconHeight} width={iconWidth} classes={iconClasses}/>
    </button>
  </li>

  <li class=`${listClasses}`>
    <button aria-label="subscribe to RSS feed">
      <IconRss height={iconHeight} width={iconWidth} classes={iconClasses}/>
    </button>
  </li>

  <li class=`${listClasses}`>
    <button
      aria-label="open GitHub repository in new tab"
      x-on:click="window.open('https://github.com/karl-mantle/astro-wordpress-blog/', '_blank', 'noopener,noreferrer')"
    >
      <IconBrandGithub height={iconHeight} width={iconWidth} classes={iconClasses}/>
    </button>
  </li>

  <li class=`${listClasses}`>
    <button 
      aria-label="toggle dark mode"
      :aria-pressed="darkMode"
      @click="toggleDarkMode"
    >
      <IconSun height={iconHeight} width={iconWidth} classes=`${iconClasses} hidden dark:block`/>
      <IconMoon height={iconHeight} width={iconWidth} classes=`${iconClasses} dark:hidden`/>
    </button>
  </li>

  <li class=`md:hidden ${listClasses}`>
    <button
      aria-label="toggle site navigation"
      :aria-pressed="siteNavigationOpen"
      @click="siteNavigationOpen = !siteNavigationOpen" 
      @keydown.window.escape="siteNavigationOpen = false"
    >
      <div x-show="!siteNavigationOpen">
        <IconMenu2 height={iconHeight} width={iconWidth} classes=`${iconClasses}`/>
      </div>
      <div x-show="siteNavigationOpen">
        <IconX height={iconHeight} width={iconWidth} classes=`${iconClasses}`/>
      </div>
    </button>
  </li>
</ul>